.portfolio
	background-color: bg-color
	border-radius: 10px
	box-shadow: box-shadow
	padding: 25px
	height: calc(100% - 250px)
	&__title
		margin-bottom: 30px

.portfolio-old
	&__title
		margin-bottom: 20px
	&__list
		display flex
		justify-content: space-between
	&__list-item
		background-color: red
		height: 300px
		width: 30%
