.nav-list
	display: flex
	flex-grow: 1
	justify-content: flex-end
	align-items: center
	&__item
		background-color: transparent 
		border: 1px solid #fff
		border-radius: 10px
		color: #fff
		font-size: 15px
		//height: 40px
		line-height: 40px
		margin-left: 2%
		padding: 0 15px
		text-transform: uppercase
		&:hover
			background-color #fff
			color: main-color
		&--active
			background-color #fff
			color: main-color
	.signin-link
		background-color #efe778
		border: 1px solid transparent
		color: main-color
		cursor: pointer
		text-transform: uppercase
		&:hover 
			background-color transparent
			border: 1px solid #efe778
			color: #efe778

		